.body {
    background-color: #171d25;
    background-image: url(background.png);
    background-size: 118%;
    background-blend-mode:  overlay;
}

.h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 31px;
    text-transform: uppercase;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    font-weight: 200;
    letter-spacing: 2px;
    position: relative;
    left: 322px;
    top: 65px;

}

.email {
    color: #8B929A;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 66px;
    right: 180px;
}

.cemail {
    color: #8B929A;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    position: relative;
    top: 100px;
    right: 180px;
}

.country {
    color: #8B929A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    top: 130px;
    right: 180px;
}

.checkbox-label {
    color: #8B929A;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 150px;
    right: 180px;
}

.table {
    padding: 0px 500px;
}


.table-inpute {
    background-color: #32353C;
    border: 1px solid #32353C;
    width: 200px;
    height: 25px;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 66px;
    right: 180px;
}

.table-inputc {
    background-color: #32353C;
    border: 1px solid #32353C;
    width: 200px;
    height: 25px;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 100px;
    right: 180px;
}

.table-country {
    background-color: #32353C;
    border: 1px solid #32353C;
    width: 200px;
    height: 25px;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 130px;
    right: 180px;
}

.header {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    position: relative;
    left: 249px;
    bottom: 4px;

}

.a {
    text-decoration: none;
    margin: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    position: relative;

}
.a2{
    text-decoration: none;
    margin: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    position: relative;
    left: 250px;
    bottom: -5px;
}

.a2:hover {
    color: rgb(0, 140, 255);
}

.a:hover {
    color: rgb(0, 140, 255);
}

.boxinstall {
    background-color: #5c7e10;
    padding: 5px;
    color: #dadde1;
    top: -70px;
    left: 980px;
    position: relative;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.install {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #8B929A;
    font-size: 12px;
    position: relative;
    top: -72px;
    left: 980px;
    text-decoration: none;
}

.label{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #8B929A;
    font-size: 12px;
    position: relative; 
    top: -50px;
    left: 980px;
    text-decoration: none;
}

.label2{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #8B929A;
    font-size: 12px;
    position: relative; 
    top: -70px;
    left: 980px;
    text-decoration: none;
}

.install2{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #8B929A;
    font-size: 12px;
    position: relative;
    top: -50px;
    left: 980px;
    text-decoration: none;
}

.install:hover{
    color: white;
}

.install2:hover{
    color: white;
}

.boxinstall:hover{
    color: white;
}

.boxinstall2:hover{
    color: white;
}

.boxinstall2{
    background-color: #5c7e10;
    padding: 5px;
    color: rgb(202, 202, 202);
    position: relative;
    top:-50px;
    left: 980px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12px;
}

#checkbox{
    position: relative;
    top: 147px;
    right: 180px;
    transform: scale(1.4);
}

.btn{
    background-color:#1A9FFF ;
    border: 1px solid #1A9FFF;
    color: white;
    border-radius: 3px;
    width: 150px;
    height: 35px;
    position: relative;
    top: 180px;
    left: 320px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.footer{

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    position: relative;
    left: 0px;
    top: 300px;
    transform: scale(0.7);
    font-size: 15px;
}

.h2{
    position: relative;
    color: white;
    top: 105px;
    left: 400px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000px;
}

.signin{
    color: #1A9FFF;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 157px;
    left: 420px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.signintext{
    background-color: #32353C;
    border: 1px solid #32353C;
    width: 390px;
    height: 35px;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 160px;
    left: 420px;
}

.password{
    color: #8B929A;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 157px;
    left: 420px;
    font-size: 12px;
    font-weight: bold;
}

#password{
    background-color: #32353C;
    border: 1px solid #32353C;
    width: 390px;
    height: 35px;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 160px;
    left: 420px;
}

.chkbox{
    position: relative;
    top: 110px;
    left: 420px;
    color: #8B929A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#chkbox{
    position: relative;
    top: 110px;
    left: 420px;
    color: #8B929A;
    transform: scale(1.4);
}

.signinbtn{
    background-color:#1A9FFF ;
    border: 1px solid #1A9FFF;
    color: white;
    border-radius: 3px;
    width: 250px;
    height: 47px;
    position: relative;
    font-size: 16px;
    top: 190px;
    left: 500px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.h4{
    position: relative;
    color: white;
    top: 190px;
    left: 490px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000px;
}

.btnacc{
    background-color:#1A9FFF ;
    border: 1px solid #1A9FFF;
    color: white;
    border-radius: 3px;
    width: 180px;
    height: 35px;
    position: relative;
    font-size: 16px;
    top: 170px;
    left: 470px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor:pointer ;
}

.info{
    position: relative;
    color: #8B929A;
    top: 90px;
    left: 700px;
    font-family: Arial, Helvetica, sans-serif;
}



.img{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    position: relative;
    left: 0px;
    bottom: -15px;
}

.img2{
    position: relative;
    left: 250px;
    bottom: -20px;
}

.u{
   color: #8B929A;
}

.u:hover{
    color: white;
}