body {
    background-color: #171d25;
}

.h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;

}

.email {
    color: #8B929A;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.cemail {
    color: #8B929A;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

.country {
    color: #8B929A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.checkbox-label {
    color: #8B929A;
    font-family: Arial, Helvetica, sans-serif;
}

.table {
    padding: 0px 500px;
}


.table-inpute {
    background-color: #32353C;
    border: 1px solid #32353C;
    width: 200px;
    height: 25px;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.table-inputc {
    background-color: #32353C;
    border: 1px solid #32353C;
    width: 200px;
    height: 25px;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.table-country {
    background-color: #32353C;
    border: 1px solid #32353C;
    width: 200px;
    height: 25px;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    position: relative;
    left: 260px;
    bottom: -15px;

}

a {
    color: rgb(183, 183, 183);
    text-decoration: none;
    margin: 10px;
}

a:hover {
    color: white;
}

.boxinstall {
    background-color: #5c7e10;
    padding: 5px;
    color: white;

}

.install {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 10px;
    position: relative;
    top: -65px;
    right: 100px;
}