body {
    background-color: #171d25;
    background-image: url(background.png);
    background-size: 118%;
    background-blend-mode:  overlay;
}

.h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 31px;
    text-transform: uppercase;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    font-weight: 200;
    letter-spacing: 2px;
    position: relative;
    left: 322px;
    top: 65px;

}

.email {
    color: #8B929A;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 66px;
    right: 180px;
}

.cemail {
    color: #8B929A;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    position: relative;
    top: 100px;
    right: 180px;
}

.country {
    color: #8B929A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    top: 130px;
    right: 180px;
}

.checkbox-label {
    color: #8B929A;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 150px;
    right: 180px;
}

.table {
    padding: 0px 500px;
}


.table-inpute {
    background-color: #32353C;
    border: 1px solid #32353C;
    width: 200px;
    height: 25px;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 66px;
    right: 180px;
}

.table-inputc {
    background-color: #32353C;
    border: 1px solid #32353C;
    width: 200px;
    height: 25px;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 100px;
    right: 180px;
}

.table-country {
    background-color: #32353C;
    border: 1px solid #32353C;
    width: 200px;
    height: 25px;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 130px;
    right: 180px;
}

.header {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    position: relative;
    left: 260px;
    bottom: -15px;

}

a {
    color: rgb(183, 183, 183);
    text-decoration: none;
    margin: 10px;
}

a:hover {
    color: white;
}

.boxinstall {
    background-color: #5c7e10;
    padding: 5px;
    color: white;

}

.install {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 11px;
    position: relative;
    top: -68px;
    right: 270px;
}

#checkbox{
    position: relative;
    top: 147px;
    right: 180px;
    transform: scale(1.4);
}

.btn{
    background-color:#1A9FFF ;
    border: 1px solid #1A9FFF;
    color: white;
    border-radius: 3px;
    width: 150px;
    height: 35px;
    position: relative;
    top: 180px;
    left: 320px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer{

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    position: relative;
    left: 0px;
    top: 300px;
    transform: scale(0.7);
    font-size: 15px;
}

.install2{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 11px;
    position: relative;
    top: -44px;
    right: 270px;
}

.boxinstall2{
    background-color: #5c7e10;
    padding: 5px;
    color: white;
}


h2{
    position: relative;
    color: white;
    top: 105px;
    left: 480px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000px;
}

.signin{
    color: #1A9FFF;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 157px;
    left: 480px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.signintext{
    background-color: #32353C;
    border: 1px solid #32353C;
    width: 390px;
    height: 35px;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 160px;
    left: 480px;
}

.password{
    color: #8B929A;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 157px;
    left: 480px;
    font-size: 12px;
}

#password{
    background-color: #32353C;
    border: 1px solid #32353C;
    width: 390px;
    height: 35px;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 160px;
    left: 480px;
}

.chkbox{
    position: relative;
    top: 110px;
    left: 480px;
    color: #8B929A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#chkbox{
    position: relative;
    top: 110px;
    left: 480px;
    color: #8B929A;
    transform: scale(1.4);
}

.signinbtn{
    background-color:#1A9FFF ;
    border: 1px solid #1A9FFF;
    color: white;
    border-radius: 3px;
    width: 250px;
    height: 47px;
    position: relative;
    font-size: 16px;
    top: 190px;
    left: 550px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

h4{

    position: relative;
    color: white;
    top: 190px;
    left: 505px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000px;
}

.btnacc{
    background-color:#1A9FFF ;
    border: 1px solid #1A9FFF;
    color: white;
    border-radius: 3px;
    width: 150px;
    height: 35px;
    position: relative;
    top: 190px;
    left: 495px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor:pointer ;
}

.info{
    position: relative;
    color: white;
    top: 90px;
    left: 700px;
}
